.logo {
    min-width: 79px
}

.search {
    @apply flex flex-row items-center gap-5 p-3 ml-12 rounded-2xl bg-gray-lightest;

    input {
        @apply bg-gray-lightest;
    }

    @media screen and (max-width: 1280px) {
        display: none;
    }
}

.lil-line-y {
    @apply h-8 w-0.5 bg-gray-light;
}

.item {
    @apply flex flex-row items-center gap-6;
    margin-left: 370px;

    @media screen and (max-width: 1280px) {
        display: none;
    }
}

.bag {
    @apply ml-6 rounded-2xl bg-secondary-light;
    padding: 14px;

    img {
        min-width: 20px;
        height: 20px;
    }

    @media screen and (max-width: 1280px) {
        margin-left: 58px;
    }
}

.user {
    @apply flex items-center justify-center rounded-2xl border-2 border-solid border-gray-lightest;
    width: 50px;
    height: 50px;
    margin-left: 17px;

    img {
        min-width: 48px;
    }
}

.line-mbl {
    display: none;

    @media screen and (max-width: 1280px) {
        display: inherit;
        margin-left: 20px;
    }
}

.navigation {
    display: none;

    img {
        min-width: 16px;
    }

    @media screen and (max-width: 1280px) {
        @apply bg-gray-lightest rounded-2xl ml-5 w-11 h-11;
        display: inherit;
        padding: 14px;
    }
}



//promotion
.promo {
    @apply flex flex-wrap items-center justify-center mt-6;
    gap: 30px;

    @media screen and (max-width: 1280px) {
        @apply flex-wrap;
    }
}

.promo-card {
    @apply flex flex-wrap items-center rounded-2xl bg-secondary-light;

    &--prim {
        @apply bg-primary-light;
    }

    @media screen and (max-width: 1280px) {
        @apply flex-col-reverse;
    }
}

.promo-desc {
    @apply flex flex-col gap-9;
    margin: 24px 24px 16px 16px;

    &-title {
        width: 210px;
    }

    p {
        @apply text-gray;
    }

    @media screen and (max-width: 1280px) {
        @apply flex-row;
    }
}

.menu {
    @apply flex flex-wrap justify-center items-center mt-8;
    gap: 30px;

    @media screen and (max-width: 1280px) {
        gap: 15px;
    }
}

.category {
    @apply flex flex-col justify-center items-center h-20 w-40 gap-3 rounded-2xl border-2 border-solid border-gray-lightest;

    @media screen and (max-width: 1280px) {
        width: 100px;
    }

    &:hover {
        @apply bg-secondary-lightest border-secondary;
    }
}

.category-select {
    @apply bg-secondary-light border-2 border-solid border-secondary;

    .categ-title {
        @apply text-lg font-bold text-secondary;

    }
}

.categ-title {
    @apply text-lg font-bold text-gray-dark;

}


//restau
.restaurant {
    @apply mt-10 mx-auto;

    &-title {
        @apply flex mx-auto;
        max-width: 1110px;

        @media screen and (min-width: 738px)and (max-width:1122px) {
            width: 738px;
        }

        @media screen and (max-width:738px) {
            width: 330px;
        }
    }
}

.restaurant-cards {
    @apply flex flex-wrap justify-center items-center mt-4;
    gap: 30px;
}

.card {
    @apply rounded-2xl border-2 border-solid border-gray-lightest;

    @media screen and (max-width:690px) {
        width: 330px;
    }
}

.card-pic {
    @apply relative;

    .featured {
        @apply absolute top-0 left-auto right-0 rounded-bl-2xl rounded-tr-2xl py-2 px-4 text-white bg-secondary;
    }
}

.card-desc {
    @apply flex flex-col p-4;
    gap: 14px
}

.card-desc-header {
    @apply flex flex-row items-center justify-between;
}

.card-desc-detail {
    @apply flex items-center gap-2;

    .point {
        @apply rounded-2xl w-1 h-1 bg-secondary;
    }
}

.categ {
    @apply flex flex-row items-center gap-2;

    &-div {
        @apply flex flex-row items-center gap-2 rounded-2xl bg-gray-lightest;
        padding: 4px 10px;
    }

    &-desc {
        @apply text-gray-dark;
    }
}