@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Nunito', sans-serif;
    max-width: 1440px;
    margin: auto;
}

header {
    @apply flex flex-row justify-center items-center w-full border-gray-lightest py-4;
    border-bottom: 2px solid;

    @media screen and (max-width: 1280px) {
        width: none;
    }
}

h1 {
    @apply text-4xl font-bold;
}

h2 {
    @apply text-3xl font-extrabold text-primary;
}

.h2-scd {
    @apply text-secondary;
}

h3 {
    @apply text-xl font-semibold;
}

h4,
template,
.desc {
    @apply text-sm font-semibold;
}

h5 {
    @apply text-lg font-bold;
}

a,
h6,
.btn-text {
    @apply text-base font-bold;
}

p,
input {
    @apply text-base font-normal;
}



.form {
    @apply flex flex-col items-start gap-2;
}

.form-check {
    @apply flex flex-row items-center gap-3;
}

.input-completed {
    @apply flex flex-row items-center justify-between p-3 rounded-lg border-2 border-solid border-gray-light;
    height: 44px;
    width: 350px;

    @media screen and (max-width: 1280px) {
        width: 330px;
    }
}

/* .input-account {
    @apply flex flex-row items-center justify-between p-3 rounded-lg border-2 border-solid border-gray-light;

} */

.sign-in-btn {
    @apply flex flex-wrap items-center gap-4;

    .btn {
        @apply rounded-lg px-4 py-3 flex items-center justify-center border-none bg-secondary text-white;
    }

    .btn-opposite {
        @apply bg-white text-secondary;
    }

    .btn-neutre {
        @apply bg-white text-gray border border-solid border-gray-dark;
        /* width: 84px;

        @media screen and (max-width: 1280px) {
            width: 83px;
        } */
    }

    .btn-neutre-scd {
        @apply bg-white text-secondary border border-solid border-secondary;
    }

    .btn-logout {
        @apply bg-white text-red border-red border-solid border;

        @media screen and (max-width:1280px) {
            width: 266px;
        }
    }
}